---
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { footer } = menu;
const { copyright, location, email, phone1, phone2 } = config.params;
---

<footer class="footer bg-light">
  <div class="container">
    <div class="gx-5 row pb-10">
      <div class="col-12 mt-12 md:col-4">
        <div class="flex gap-4">
          <Image 
            src="/src/assets/logos/50-negro.webp"
            alt="Logo 50 años"
            width={80}
            height={40}
          />
          <Image 
            src="/src/assets/logos/la-mennais-negro.webp"
            alt="Logo La Mennais"
            width={80}
            height={40}
          />
        </div>
      </div>

      <div class="col-12 mt-12 md:col-4">
        <h6>Enlaces</h6>
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
                <a class="hover:text-primary hover:underline " href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-12 mt-12 md:col-4">
        <h6>Ubicación y Contacto</h6>
        <ul>
          <li class="mb-2 text-sm">{location}</li>
          <li class="mb-2">
            <a class="mb-2 hover:text-primary" href={`mailto:${email}`}
              >{email}</a
            >
          </li>
          <li>
            <a class="hover:text-primary hover:underline" href={`tel:${phone1}`}
              >{phone1}</a
            >
          </li>
          <li>
            <a class="hover:text-primary hover:underline" href={`tel:${phone2}`}
              >{phone2}</a
            >
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="container max-w-360">
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center"
    >
      <p class="content text-text" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>
